---
import BookNowButton from "@components/ui/BookNowButton.astro";

interface Props {
  heading?: string;
  description?: string | null;
  para?: string;
  location?: string;
}
const { heading, description, para ,location } = Astro.props;
---

<div class="bg-white mx-auto py-">
  <div class="px-0 w-full">
    <div
      class="relative isolate overflow-hidden bg-blue-950 px-6 py-12 text-center shadow-2xl sm:px-16"
    >
      <h2
        class="mx-auto max-w-2xl text-xl font-bold tracking-tight text-white sm:text-4xl"
      >
        {heading ?? para}
      </h2>
      <p class="mx-auto sm:mt-4 max-w-xl sm:text-lg leading-8 text-gray-300">
        {description ?? heading}
      </p>
      <div class="mt-6 flex items-center justify-center gap-x-6">
        <BookNowButton location={location}
          className="tracking-button rounded-md bg-white px-6 py-3 sm:py-4 text-sm sm:text-lg font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
        >
          Book Now
        </BookNowButton>
      </div>
    </div>
  </div>
</div>
