---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>payment-successful</title>
  </head>
  <body>
    <div class="w-11/12 mx-auto h-screen flex items-center">
      <div class="w-96 h-96 mx-auto">
        <div class="flex items-center justify-center">
          <img
            class="w-20 h-20 rounded-full"
            src="https://vetic-img.s3.ap-south-1.amazonaws.com/website/landing+page/image+102.png"
            alt="payment-success-image"
          />
        </div>
        <p class="text-2xl text-center font-sans py-6">Payment Done</p>
        <p class="text-sm text-center font-sans text-gray-500 leading-6 px-8">
          Congratulations, updating your payment details for your booking...
        </p>
      </div>
    </div>
  </body>
</html>
