---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>payment-failed</title>
  </head>
  <body>
    <div class="w-11/12 mx-auto h-screen flex items-center">
      <div class="w-96 h-96 mx-auto">
        <div class="flex items-center justify-center">
          <img
            class="w-24 h-20 rounded-full"
            src="https://vetic-img.s3.ap-south-1.amazonaws.com/website/landing+page/transactionfailedIcon.png"
            alt="payment-failed-image"
          />
        </div>
        <p class="text-2xl text-center text-red-500 font-sans py-6">
          Payment Failed
        </p>
        <p class="text-sm text-center font-sans text-gray-500 leading-6 px-8">
          The payment failed, please try again ! Any money deducted will get
          refunded within 2-3 days
        </p>
      </div>
    </div>
  </body>
</html>
