---
import Footer from "@components/core/footer/Footer.astro";
import MainLayout from "@layouts/_main_layout.astro";
import Header from "@components/core/navbar/Header.astro";
---

<MainLayout title="Vetic - Privacy Policy" description="Vetic - Privacy Policy" canonicalTag="https://vetic.in/privacy-policy">
  <div class="container mx-auto w-11/12">
    <Header />
    <div class="p-6">
      <h1 class="text-2xl font-bold text-center font-primaryFont text-primaryFontColor">Privacy policy</h1>

      <div class="mt-8">
        <p class="text-gray-700 font-secondaryFont">
          Petpai Technologies Private Limited (“Company” "We", "Us", or "Our") a
          private limited company with its registered office at 4th floor, Spaze
          Business Park, Badshahpur, Sector 66, Gurugram, Haryana 122102,
          operates the website <a
            href="www.vetic.in"
            target="_blank"
            class="text-blue-600">www.vetic.in</a
          > (hereinafter referred to as the "Platform"). The Company is committed
          to protecting Your privacy and the information that You share while using
          the Platform. We value the trust You place in Us. That’s why We maintain
          the highest security standards for securing the transactions and Your information.
        </p>

        <p class="text-gray-700 mt-4 font-secondaryFont">
          This privacy policy (“Privacy Policy”) specifies the manner in which
          personal data and other information is collected, received, stored,
          processed, disclosed, transferred, dealt with, or otherwise handled by
          the Company. This Privacy Policy does not apply to information that
          You provide to, or that is collected by, any third-party through the
          Platform, and any Third-Party Sites (defined below) that You access or
          use in connection with the Services offered on the Platform.
        </p>

        <p class="text-gray-700 mt-4 font-secondaryFont">
          Please read the Privacy Policy carefully prior to using or registering
          on the Platform or accessing any material, information or availing any
          Services through the Platform.
        </p>
        <p class="text-gray-700 mt-4 font-secondaryFont">
          By visiting the Platform or setting up/creating an account on the
          Platform for availing the Services and clicking on the “I accept”
          button provided on the Platform, You (“You”, “Your”, “Yourself” as
          applicable) accept and agree to be bound by the terms and conditions
          of this Privacy Policy and consent to the Company collecting, storing,
          processing, transferring, and sharing information including Your
          Personal Information in accordance with this Privacy Policy. This
          Privacy Policy is incorporated into and subject to our Terms of
          Service (“Terms”) and shall be read harmoniously and in conjunction
          with them. All capitalised terms used herein however not defined under
          this Privacy Policy shall have the meaning ascribed to them under the
          Terms.
        </p>
        <p class="text-gray-700 mt-4 font-secondaryFont">
          This Privacy Policy <br />(i) will be considered to be an electronic
          record under the Indian data privacy laws including the Information
          Technology Act, 2000 read with rules and regulations made thereunder;
          and <br />(ii) will not require any physical, electronic, or digital
          signature by the Company.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">1. Usage of information</h2>
        <p>
          The information as specified in Clause 1, may be used by the Company
          for the following purposes:
        </p>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            for Your registration, login, and management of account on the
            Platform;
          </li>
          <li class="pl-1 mt-2">
            to confirm Your identity directly and/or through third parties;
          </li>
          <li class="pl-1 mt-2">
            to provide You Services and improve the Services;
          </li>
          <li class="pl-1 mt-2">
            remembering Your Personal Information so that You are not required
            to re-enter it the next time You visit the Platform;
          </li>
          <li class="pl-1 mt-2">
            to understand Your preferences and to enhance and customize Your
            experience of using the Service and the Platform;
          </li>
          <li class="pl-1 mt-2">
            for providing customized user relevant suggestion / Services;
          </li>
          <li class="pl-1 mt-2">
            to communicate with You through mail, e-mail, and telephone or
            through any other mode of communication, in connection with the
            Service, or other products or services of the Company;
          </li>
          <li class="pl-1 mt-2">
            to respond to Your comments, requests, reviews, and questions and
            provide better Services;
          </li>
          <li class="pl-1 mt-2">
            to enforce, communicate important notices, updates, or changes in
            the Services, use of the Platform and the terms/policies including
            Terms which govern the relationship between You and the Company;
          </li>
          <li class="pl-1 mt-2">
            to detect, prevent and protect Us from any errors, fraud or other
            criminal or prohibited activity on the Platform;
          </li>
          <li class="pl-1 mt-2">
            for internal purposes such as auditing, data analysis, research and
            improvement relating to the Platform or the Service;
          </li>
          <li class="pl-1 mt-2">for promotion and marketing purposes;</li>
          <li class="pl-1 mt-2">
            for sharing such information with any third party, including any
            service providers and any of Our group companies, in the course of
            providing the Services through the Platform;
          </li>
          <li class="pl-1 mt-2">
            to help promote a safe service on the Platform and protect the
            security and integrity of the Platform, the Services, and the users;
            and
          </li>
          <li class="pl-1 mt-2">
            to help promote a safe service on the Platform and protect the
            security and integrity of the Platform, the Services, and the users;
            and
          </li>
        </ul>
        <p class="font-secondaryFont">
          The data gathered from You may also be used for any reason incidental
          to the reasons listed above; and for any other purpose with Your
          consent. We use Your Personal Information to send You promotional
          emails, however, We will provide You the ability to opt-out of
          receiving such emails from Us. However, You will not be able to
          opt-out of receiving administrative messages, customer service
          responses or other transactional communications. Unless and until, You
          explicitly give Your consent to Us, to do so, We will not share Your
          Personal Information with another user of the Platform and vice versa.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          2.Collection of Information by Third-Party Sites and Advertisers
        </h2>
        <p class="pl-1 mt-2 font-secondaryFont">
          When You use the Platform, there may be certain links which may direct
          You to other websites/platforms or applications not
          operated/maintained by the Company (“Third Party Site(s)”). The manner
          in which Your information is collected, received, stored, processed,
          disclosed, transferred, dealt with and handled by such Third Party
          Site(s) is governed by the terms and conditions and privacy policy of
          the respective Third Party Site(s). The Company is not in any manner
          responsible for the security of such information or their privacy
          practices or content of those Third – Party Sites and hereby expressly
          disclaims all liabilities with respect to the manner in which any
          Third Party Site(s) collects and/or uses Your information.
        </p>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <strong class="pl-1 mt-2">Cookies </strong>
          <li class="pl-1 mt-2">
            A cookie is a small amount of information that’s downloaded to Your
            computer or device when You visit the Platform. We use a number of
            different cookies, including functional, performance, advertising,
            and social media or content cookies. Cookies make Your browsing
            experience better by allowing the Platform to remember Your actions
            and preferences (such as login and region selection), and Your
            trends. This means You will not have to re-enter this information
            each time You return to the Platform or browse from one page to
            another.
          </li>
          <li>
            The length of time that a cookie remains on Your computer or mobile
            device depends on whether it is a “persistent” or “session” cookie.
            Session cookies last until You stop browsing and persistent cookies
            last until they expire or are deleted. Most of the cookies We use
            are persistent and will expire between 30 minutes and two years from
            the date they are downloaded to Your device.
          </li>
          <li class="pl-1 mt-2">
            You can control and manage cookies in various ways. Please keep in
            mind that removing or blocking cookies can negatively impact Your
            user experience and parts of the Platform may not be fully
            accessible to You.
          </li>
          <li class="pl-1 mt-2">
            Most browsers automatically accept cookies, but You can choose
            whether or not to accept cookies through Your browser controls,
            often found in Your browser’s “Tools” or “Preferences” menu.
          </li>
          <li class="pl-1 mt-2">
            Additionally, please note that blocking cookies may not completely
            prevent how We share information with third parties such as Our
            advertising partners.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          3. Disclosure to Third Parties
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            The Company may disclose Your information including Personal
            Information, if required to do so by law and if such action is
            necessary to: (a) comply with a legal obligation or with laws,
            regulatory requirements and to respond to lawful requests and legal
            process; (b) protect and defend the rights or property of the
            Company, and other users of the Platform including to enforce
            agreements, policies and Terms of Service; (c) protect the personal
            safety of the Company, the users of the Platform, or any person, in
            an emergency; (d) protect the Company from incurring any legal
            liability; (e) firms representing the Company in judicial
            proceedings and/or any legal, accounting and auditing firms
            providing services to the Company; and (f) for reasons incidental to
            the above. In such an event the Company shall be under no obligation
            to inform You or seek Your approval or consent.
          </li>
          <li class="pl-1 mt-2">
            The Company may disclose Your Personal Information to: (i) any third
            party to facilitate the provision of the Services including the
            Platform; and (ii) any third parties who provide services, such as
            auditing, data analysis, platform improvement and assistance with
            delivery of goods, relevant marketing messages and advertisements.
            If You provide a mobile phone number and/or e-mail address, the
            Company or the third-party service providers or the persons
            authorized by them, may send You text messages/e-mails in relation
            to Your use of the Platform. The Company contractually requires
            these third parties to keep such information confidential and use it
            only for the purposes for which the Company discloses it to them.
            These third parties may view, edit, or set their own cookies or may
            place beacons on Your personal information.
          </li>
          <li class="pl-1 mt-2">
            The Company may also share aggregated (and de-identified)
            information with third parties at its discretion.
          </li>
          <li class="pl-1 mt-2">
            The Company may share Your personal information with third-party
            vendors, consultants, and other service providers who work for the
            Company and are bound by contractual obligations to keep such
            personal information confidential and use it only for the purposes
            for which the Company discloses it to them. The Company may also
            share or transfer Your Personal Information to third parties in
            compliance with the applicable law.
          </li>
          <li class="pl-1 mt-2">
            The Company may disclose or transfer Your information (personal or
            otherwise) to any subsidiary or affiliate, and to a third party if
            the Company sells, transfers, or divests all or a significant
            portion of the Company’s business or assets to another company in
            connection with or during negotiation of any merger, financing,
            acquisition, bankruptcy, dissolution, transaction, or other similar
            proceeding. Such third parties shall be contractually bound to not
            disclose further, any personal information disclosed to them.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">4. Security</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            The Company uses reasonable security measures, at the minimum those
            mandated under applicable laws to safeguard and protect Your data
            and information. The Company has implemented measures to protect
            against unauthorized access to, and unlawful interception of Your
            information. However, security risk cannot be completely eliminated
            while using the internet. The Company assumes no liability or
            responsibility for disclosure of Your information due to errors in
            transmission, unauthorized third-party access, or other causes
            beyond its control. You play an important role in keeping Your
            personal information secure. You should not share Your user name,
            password, or other security information for Your account with
            anyone. You accept the inherent security implications of providing
            information over the internet and agree not to hold the Company
            responsible for any breach of security or the disclosure of personal
            information unless the Company has been grossly and wilfully
            negligent.
          </li>
          <li class="pl-1 mt-2">
            By accepting the terms of this Privacy Policy, You undertake to
            exercise utmost confidentiality of all data You access by virtue of
            being a user of the Platform. You undertake not to divulge, share,
            manipulate, sale or use information collected or accessed in a
            manner inconsistent with this Privacy Policy and the interests of
            the Company.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">5. Policy Towards Children</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            The Platform is intended for a general audience and not for use by
            anyone younger than the age of 18. In the event the Platform and the
            Services are being accessed by a person below the age of 18
            (eighteen) years ("Minor"), such access shall be deemed to be with
            the consent of the guardian of such Minor. The Company does not
            knowingly collect personal information from children younger than
            the age of 18 without the consent of a parent or legal guardian; if
            the Company learns that it has done so, the Company will promptly
            remove the information from all active databases. If You are a
            parent or legal guardian who believes that the Company has collected
            or used their child’s personal information, please contact the
            Company at support@vetic.in
          </li>
          <li class="pl-1 mt-2">
            <strong>Currency:</strong> All transactions shall be in Indian Rupees
            (“INR”) unless otherwise specified at the time of purchase.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">6. User Discretion</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            Subject to limitations in applicable law, You are entitled to object
            to or request the restriction of processing of Your Personal
            Information, and to request access to, rectification, erasure and
            portability of Your own Personal Information. However, some
            information may be needed to register on the Platform or to take
            advantage of some of the features of the Platform. Hence, by
            choosing not to provide us with the above-mentioned information, You
            may be unable to access the Services/use the Platform, partially or
            entirely.
          </li>
          <li class="pl-1 mt-2">
            If You are a registered user of the Platform, the Platform provides
            You with tools and account settings to access or modify the profile
            information You have provided and is associated with Your account.
          </li>
          <li class="pl-1 mt-2">
            Where the use of Your information is based on consent, You can
            withdraw this consent at any time without affecting the lawfulness
            of processing based on consent before its withdrawal. In the event
            You desire to withdraw Your consent or delete Your Personal
            Information collected by the Company, You can do so by contacting Us
            at support@vetic.in. If You are aware of any changes or inaccuracies
            in Your information, You should inform the Company of such changes
            so that the records of the Company may be updated or corrected. The
            Company will respond to Your request as soon as possible under
            relevant regulation.
          </li>
          <li class="pl-1 mt-2">
            The Company will retain Your personal information as long as needed
            to provide the Services, or as required or permitted by applicable
            laws.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">7. Grievances</h2>
        <p class="font-secondaryFont">
          In the event You have any grievances relating to the Privacy Policy,
          please inform the Company within 24 hours of occurrence of the
          instance from which the grievance has arisen, by writing an email to
          the Grievance Redressal Officer as follows:
          <p><strong>Email ID : </strong>support@vetic.in</p>
        </p>

        <p class="font-secondaryFont">
          The Grievance Redressal Officer shall acknowledge the complaint within
          twenty four hours and dispose off such complaint within a period of
          fifteen days from the date of its receipt.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">8. Amendments</h2>
        <p class="pl-1 mt-2 font-secondaryFont">
          We reserve the unconditional right to change, modify, add, or remove
          portions of this Privacy Policy at any time, without specifically
          notifying You of such changes. Any changes or updates will be
          effective immediately. You should review this Privacy Policy regularly
          for changes. You can determine if changes have been made by checking
          the “Last Updated” legend above. Your acceptance of the amended
          Privacy Policy shall signify Your consent to such changes and
          agreement to be legally bound by the same.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          Steps to delete account from our app
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">Login to your Vetic App.</li>
          <li class="pl-1 mt-2">Click on Profile icon on top right corner.</li>
          <li class="pl-1 mt-2">Click on settings icon on top right corner.</li>
          <li class="pl-1 mt-2">Click on Delete account.</li>
          <li class="pl-1 mt-2">Select option - Yes, Delete !</li>
          <li class="pl-1 mt-2">
            Once you delete your account from app, Vetic will delete your
            records from internal database.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <Footer />
</MainLayout>
