---
import Footer from "@components/core/footer/Footer.astro";
import MainLayout from "@layouts/_main_layout.astro";
import Header from "@components/core/navbar/Header.astro";
---

<MainLayout title="Terms of Service | Vetic" description="Terms of Service | Vetic" canonicalTag="https://vetic.in/terms-of-service">
  <div class="container mx-auto w-11/12">
    <Header />
    <div class="p-6">
      <h1 class="text-2xl font-bold text-center font-primaryFont text-primaryFontColor">Terms of service</h1>

      <div class="mt-8 font-secondaryFont">
        <p class="text-gray-700 font-secondaryFont">
          Please read the terms of service (“Terms”) carefully before using the
          “Website” and mobile application Vetic (“App”). This website and app
          (collectively hereinafter referred to as the “Platform”) are owned,
          registered and operated by <strong
            >Petpai Technologies Private Limited</strong
          > (“Platform owner”, “Company”, “ <strong>We</strong>”, “ <strong
            >Use</strong
          >”, or “<strong>Our</strong>”), a private limited company having its
          registered office at 4th Floor, Tower A, Spaze business park, Sector
          66, Golf course extension road, Gurgaon - 122102. These Terms of
          Service (“Terms”) govern Your access to or use of the Platform and the
          Services (as defined below) made available on the Platform. By
          accessing the Platform or using the Service, the Platform user of the
          Website or App (hereinafter referred to as “User”, “You” , “Your”)
          agrees to be bound by these Terms. Your access to or use of the
          Service is conditioned on Your acceptance of and compliance with these
          Terms and other policies of the Platform. The Company requests You, to
          please read these Terms and all other policies of the Platform
          (“Platform Policies”) carefully before using or registering on the
          Platform. If You do not agree with these Terms or any other <strong
            >Platform Policies</strong
          >, please do not access the Platform or use the Service.
        </p>

        <p class="text-gray-700 mt-4 font-secondaryFont">
          Unless you notify us in writing, of your intention to opt out from
          further direct and indirect marketing communications and
          solicitations, you are agreeing to continue to receive emails, calls
          and messages through different mediums for soliciting Products and
          services.
        </p>

        <p class="text-gray-700 mt-4 font-secondaryFont">
          The Company provides the service of: (i) offering for sale various pet
          care products including food, toys, accessories for pets on the
          Platform (“Product(s)”), and (ii) offering veterinary services
          including but not limited to grooming services, in clinic OPD
          consultations, vaccinations, surgeries etc (collectively the
          “Services”).
        </p>
        <p class="text-gray-700 mt-4 font-secondaryFont">
          These Terms: <br />(i) will be considered to be an electronic record
          under the Indian data privacy laws including the Information
          Technology Act, 2000 read with rules and regulations made thereunder;
          and <br /> (ii) will not require any physical, electronic, or digital signature
          by the Company.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">1. Eligibility and Access</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1">
            The Service is not available to persons, under the age of 18
            (eighteen) years or to any User suspended or removed from the
            Platform for any reason whatsoever. You represent that You are of
            legal age to form a binding contract and are not a person barred
            from using or accessing the Platform and receiving the Services by
            the Company or under the applicable laws of India.
          </li>
          <li class="pl-1 mt-2">
            The Services are always evolving and the form and nature of the
            Services may change from time to time. In addition, the Company may
            stop (permanently or temporarily) providing the Service (or any
            features within the Platform) to You or to Users generally and may
            not be able to provide You with prior notice.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">2. Access and Use of Service</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            In order to use the Service, You are required to create an account
            on the Platform by providing your credentials, such as Your name,
            email address and such other details as may be required by the
            Platform (“Account”).
          </li>
          <li>
            You shall ensure and confirm that the Account information provided
            by You is complete, accurate and up-to-date. If there is any change
            in the Account information, You shall promptly update Your Account
            information on the Platform or by writing to the Company at
            support@vetic.in. If You provide any information that is untrue,
            inaccurate, not current or incomplete (or becomes untrue,
            inaccurate, not current or incomplete subsequently), or if the
            Company has reasonable grounds to suspect that such information is
            untrue, inaccurate, not current or incomplete, the Company has the
            right to suspend or terminate Your Account and refuse any and all
            current or future use of the Service (or any portion thereof) at its
            discretion, in addition to any right that the Company may have
            against You at law or in equity, for any misrepresentation of
            information provided by You.
          </li>
          <li class="pl-1 mt-2">
            You are responsible for maintaining the confidentiality of Your
            Account information and for all activities that occur on or in
            connection with Your Account. You agree to notify the Company
            immediately of any unauthorized access or use of Your Account or any
            other breach of security and ensure that You exit from Your Account
            at the end of each session. You acknowledge and agree that the
            Company is not responsible or liable for any damages, losses, costs,
            expenses, or liabilities related to any unauthorized access to or
            use of Your Account. You may be held liable for losses incurred by
            the Company or any other User of or visitor of the Platform due to
            authorized or unauthorized use of Your Account as a result of Your
            failure in keeping Your Account information secure and confidential.
          </li>
          <li class="pl-1 mt-2">
            You shall not have more than one active Account on the Platform. You
            are prohibited from selling, trading, or otherwise transferring Your
            Account to another party or impersonating any other person for the
            purpose of creating an Account with the Platform. The Company
            reserves the right to refuse access to the Service to new Users or
            to terminate access granted to existing Users at any time if such
            access or use of the Platform or the Service is found to be in
            breach of these Terms or Platform Policies or applicable laws or
            pursuant to any administrative or judicial order or direction by any
            governmental authority.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">3. Services</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <strong>Sale of Veterinary Products:</strong>
          <li class="pl-1 mt-2">
            The Company lists various Products for sale on the Platform, which
            are invitations to offer, not direct offers for sale.
          </li>
          <li class="pl-1 mt-2">
            By placing an order, You make an offer to the Company. We reserve
            the right to accept, decline, or limit orders at Our discretion,
            without prior notice.
          </li>
          <li class="pl-1 mt-2">
            All veterinary services, including OPD, vaccination, and treatment,
            are provided by registered medical practitioners.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">4. Acceptable Use</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            The Service permits You to buy the Products available on the
            Platform and book the Services over the Platform.
          </li>
          <li class="pl-1 mt-2">
            You represent and warrant that You shall not
          </li>
          <li class="pl-1 mt-2">
            upload, publish, transmit, update or share information.
          </li>
        </ul>

        <ol class="list-decimal list-outside ml-10 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            That belongs to another person and to which You do not have any
            right.
          </li>
          <li class="pl-1 mt-2">
            That is, or that incites or encourages, action that is explicitly or
            implicitly: illegal, harmful, abusive, insulting, harassing,
            threatening, hateful, racially or ethnically objectionable,
            derogatory, harmful to any reputation, disparaging, defamatory,
            libelous, pornographic, indecent, profane, obscene, pedophilic, or
            otherwise objectionable (including nudity), blasphemous, invasive of
            another's privacy (including bodily injury), or related to money
            laundering or gambling.
          </li>
          <li class="pl-1 mt-2">
            That is patently false or untrue and is written or published with
            the intent to mislead or harass a person, entity, or agency for
            financial gains or to cause injury to any person.
          </li>
        </ol>

        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            violate any law, regulation, or court order.
          </li>
          <li class="pl-1 mt-2">
            Violate, infringe, or misappropriate the intellectual property,
            privacy, publicity, moral, or other legal rights of any third party.
          </li>
          <li class="pl-1 mt-2">Harm minors in any way.</li>
          <li class="pl-1 mt-2">
            Send advertising or commercial communications, including spam, or
            other unauthorized communications.
          </li>
          <li class="pl-1 mt-2">
            send communication that deceives or misleads the addressee about the
            origin of such messages or communicates any information which is
            patently false or misleading in nature but may reasonably be
            perceived as a fact.
          </li>
          <li class="pl-1 mt-2">
            engage in spidering or harvesting, or participate in the use of
            software, including spyware, designed to collect data from the
            Platform, including from any User of the Platform
          </li>
          <li class="pl-1 mt-2">
            transmit any virus, other computer instruction, or technological
            means intended to, or that may, disrupt, damage, or interfere with
            the use of computers or limit the functionality of any computer
            resource or related systems
          </li>
          <li class="pl-1 mt-2">
            stalk, harass, threaten, harm or impersonate any third party
          </li>
          <li class="pl-1 mt-2">
            participate in any fraudulent or illegal activity, including
            phishing, money laundering, or fraud
          </li>
          <li class="pl-1 mt-2">
            use any means to scrape or crawl any part of the Platform
          </li>
          <li class="pl-1 mt-2">
            attempt to circumvent any technological measure implemented by the
            Company, any of the Company’s service providers, or any other third
            party (including another User) to protect the Company, the Platform,
            Users, Recipients, or any other third party
          </li>
          <li class="pl-1 mt-2">
            access the Platform to obtain information to build a similar or
            competitive application, or provide similar Services
          </li>
          <li class="pl-1 mt-2">
            attempt to decipher, decompile, disassemble, or reverse engineer any
            of the software or other underlying code used to provide the
            Platform
          </li>
          <li class="pl-1 mt-2">
            send communication that threatens the unity, integrity, defense,
            security or sovereignty of India, friendly relations with foreign
            states, or public order or causes incitement to the commission of
            any cognizable offense or prevents investigation of any offense or
            is insulting any other nation; or
          </li>
          <li class="pl-1 mt-2">
            advocate, encourage, or assist any third party in doing any of the
            foregoing.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">5. Fees and Payment</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            <strong>Fees:</strong> The fee for the Services and the Products is as
            specified on the Platform. You agree to pay all amounts due in accordance
            with the payment terms in effect when You purchase any Service or Products.
          </li>
          <li class="pl-1 mt-2">
            <strong>Currency:</strong> All transactions shall be in Indian Rupees
            (“INR”) unless otherwise specified at the time of purchase.
          </li>
          <li class="pl-1 mt-2">
            <strong>Payment:</strong> All payments for the Services or Products purchased
            by You through the Platform, shall be made by using a valid payment mode
            through the applicable third party payment provider (the payment provider
            as selected by the Company) (“Payment Details”). You hereby represent
            that You have the authority to use such payment mode and have sufficient
            funds to complete the Services. By providing such details, You represent,
            warrant, and covenant that: (1) You are legally authorized to provide
            such details; (2) You are legally authorized to perform payments using
            such details; and (3) such action does not violate the terms and conditions
            applicable to Your use of such details or applicable law. You must provide
            the third party payment provider with valid payment information (Visa,
            MasterCard, or other issuer accepted by the payment provider). You acknowledge
            and agree that the Company does not operate, own, or control the payment
            provider and only facilitates the third-party payment gateway for processing
            of payment. Your use of Your payment card is governed by Your agreement
            with and the privacy policy of the payment provider and not these Terms.
            You agree to immediately notify the payment provider of any change in
            Your billing address (or other information) for Your payment method.
          </li>
          <li class="pl-1 mt-2">
            Except to the extent otherwise required by applicable law, the
            Company is not liable for any payments authorized through the
            Platform using Your Payment Details. Particularly, the Company is
            not liable for any payments that do not complete because: (1) Your
            bank account or any other payment did not contain sufficient funds
            to complete the transaction; (2) You have not provided the Company
            with correct Payment Details; (3) Your payment card has expired; or
            (4) circumstances beyond the Company’s control (such as, but not
            limited to, power outages, interruptions of cellular service, or any
            other interferences from an outside force) prevent the execution of
            the transaction.
          </li>
          <li class="pl-1 mt-2">
            The Platform shall not be responsible for any unauthorised
            transactions conducted on Our Platform using Your payment card or
            internet banking. The Platform shall not be obligated to refund any
            money to You in such instances.
          </li>

          <li class="pl-1 mt-2">
            Additional shipping charges may be applicable on the Products
            purchased by You. Please refer to the delivery charges while
            ordering for the applicable delivery charges.
          </li>

          <li class="pl-1 mt-2">
            <strong>Cancellation:</strong> Once order is done, cannot be cancelled.
          </li>
          <li class="pl-1 mt-2">
            <strong>Returns:</strong> Applicable only in case of damaged or expired
            product. Verification of the same will be done by Us via images and /
            or videos. Refund will be processed after the verification within 7-14
            business days.
          </li>
          <li class="pl-1 mt-2">
            <strong>Payment Questions:</strong> If You have a question about a purchase
            made on the Platform or a charge to Your payment card, please contact
            Us at support@vetic.in. The Company has the sole discretion to determine
            how billing disputes will be resolved.
          </li>
          <li class="pl-1 mt-2">
            <strong>Cancellation:</strong> Orders cannot be canceled once placed.
          </li>
          <li class="pl-1 mt-2">
            <strong>Returns:</strong> Only applicable for damaged or expired products.
            Verification will be conducted via images or videos, and refunds will
            take 7-14 business days.
          </li>
          <li class="pl-1 mt-2">
            <strong>Payment Questions:</strong> For questions about purchases or
            billing disputes, contact support@vetic.in. The Company determines how
            disputes will be resolved.
          </li>
        </ul>
        <ul class="list-disc list-outside pl-5 text-gray-700 font-secondaryFont">
          <strong class="pl-1 mt-2">Advance Payment Policy:</strong>
          <li class="pl-1">
            <strong>Advance payment for booking appointment:</strong> Advance of
            ₹49 is charged on the booking for few slots. This advance is fully redeemable
            during the billing at the clinic.
          </li>
          <li class="pl-1 mt-2">
            <strong>Cancellation & Reschedule Charges:</strong> This advance is fully
            refundable for cancellation before 3 hours. However for cancellations
            or reschedule made within 3 hours of appointment start time, cancellation
            fees of ₹49 will be charged. This helps us to partially compensate for
            service provider’s time.
          </li>
          <li class="pl-1 mt-2">
            <strong>Refund:</strong> For cancellations before 3 hours of booking
            start time, entire advance will be refunded within 5-7 business days
            to the original payment source.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          6. Vetic Membership Terms & Conditions
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            The Vetic Membership is valid for 12 months from the date of
            purchase of the membership package.
          </li>
          <li class="pl-1 mt-2">
            One pet per client is allowed under the Vetic Membership policy. If
            a client registers multiple pets with Vetic under a single
            membership, the membership benefits shall be consumed in accordance
            with the actual services rendered to each pet.
          </li>
          <li class="pl-1 mt-2">
            The Vetic Membership is non-transferrable . The Vetic Membership is
            only valid for the client's registered contact number and cannot be
            transferred to another contact number or to other clients.
          </li>
          <li class="pl-1 mt-2">
            The Vetic Membership is non-refundable and non-cancellable . Any
            refund for any services is subject to Vetic's sole discretion and is
            limited to an amount equal to the price of each individual product
            and service provided as part of membership. Cancellation Processing
            fee will be applicable in such cases.
          </li>
          <li class="pl-1 mt-2">
            The client shall be informed of all the Vetic Membership perks and
            exclusions via the invoice at the time of purchase. Any additional
            Vetic services and products that are not listed on the invoice do
            not qualify as part of the membership's offering.
          </li>
          <li class="pl-1 mt-2">
            Services, discounts, and other perks provided as part of the Vetic
            Membership may be changed or discontinued at any time at Vetic's
            sole discretion.
          </li>
          <li class="pl-1 mt-2">
            Vetic Membership users can avail the benefits of membership across
            the Vetic Clinics. The client is responsible for paying any
            additional fees resulting from price differences between clinics.
          </li>
          <li class="pl-1 mt-2">
            case of free services provided under Vetic Membership exhausted
            during the period of membership, clients can continue availing the
            other benefits of the membership till the validity of the Membership
            is over.
          </li>
          <li class="pl-1 mt-2">
            Vetic Membership users have the option to renew their memberships at
            any time. In this situation, the client's current membership will no
            longer be valid and a new one will take effect.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          7. Vetic Pet Health Shield powered by HDFC Ergo Paws n Claws Terms and
          Conditions
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            There is no tax benefit associated with the Vetic Pet Health Shield.
          </li>
          <li class="pl-1 mt-2">
            Pregnancy-related surgeries are not covered under the Vetic Pet
            Health Shield.
          </li>
          <li class="pl-1 mt-2">
            No Claim Bonus (NCB) is not applicable under the Vetic Pet Health
            Shield.
          </li>
          <li class="pl-1 mt-2">
            Payment for the treatment must be made upfront by the policyholder,
            and the claim will be settled via the reimbursement process after
            submission and verification of all required and valid documents.
          </li>
          <li class="pl-1 mt-2">
            Once Vetic Pet Health Shield is issued, cancellation charges will
            apply.
          </li>
          <li class="pl-1 mt-2">
            Claim settlement may take up to 45 working days, subject to
            receiving all necessary and valid documents and clearance from HDFC
            Ergo.
          </li>
          <li class="pl-1 mt-2">
            The purchase cost of prescription food is not covered under Vetic
            Pet Health Shield.
          </li>
          <li class="pl-1 mt-2">
            Pre-existing illnesses or health conditions are not covered under
            the Vetic Pet Health Shield.
          </li>
          <li class="pl-1 mt-2">
            Elective surgeries such as neutering, spaying, dental scaling, and
            surgeries related to congenital issues are not covered under the
            Vetic Pet Health Shield.
          </li>
        </ul>
        <em class="pl-5 mt-2"
          >* Vetic Pet Health Shield powered by HDFC Ergo Paws n Claws</em
        > is also referred to as <em>Vetic Pet Health Shield</em> interchangeably.

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">8. Ownership</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            You acknowledge and agree that the Company or its licensors own all
            right, title, and interest in and to: (i) the Platform and the “look
            and feel” of the Platform, including all software, ideas, processes,
            data, text, media, and other content available on the Platform
            (individually, and collectively, “Content”); and (ii) the Company’s
            trademarks, logos, and brand elements (“Marks”). You shall not
            duplicate, copy, or reuse any portion of the Content, Marks,
            HTML/CSS, JavaScript, visual design elements, or concepts without
            the Company’s prior express written consent. The Company and such
            relevant third party reserve all rights not expressly granted in
            these Terms.
          </li>

          <li class="pl-1 mt-2">
            You shall not make any disparaging or derogatory remarks, comments,
            or statements, whether verbal or written, against the Company. You
            acknowledge and agree that any feedback, comments, or suggestions
            You may provide regarding the Platform or the Services are entirely
            voluntary, and the Company will be free to use such feedback,
            comments, or suggestions as it sees fit and without any obligation
            to You.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          9. Copyright and Intellectual Property Policy
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <strong>Take Down Notice:</strong> The Company responds to notices of alleged
          copyright infringement and terminate access to the Platform for repeat
          infringers. If You believe that materials on the Platform infringe copyright,
          please send the following information to the Company at support@vetic.in.
          <li class="pl-1 mt-2">
            Your address, telephone number, and email address
          </li>
          <li class="pl-1 mt-2">
            A description of the work that You claim is being infringed, with
            adequate information to identify the work.
          </li>
          <li class="pl-1 mt-2">
            A description of the material that You claim is infringing and are
            requesting be removed along with information about where it is
            located or stored.
          </li>
          <li class="pl-1 mt-2">
            Details establishing that the work which is the subject matter of
            infringement is being infringed, and details establishing that You
            are the owner or exclusive licensee of the work or agent of such
            owner or exclusive licensee.
          </li>
          <li class="pl-1 mt-2">
            An electronic or physical signature of the copyright owner (or a
            person authorized to act for the copyright owner).
          </li>
          <li class="pl-1 mt-2">
            Details of the person, if known, who is responsible for uploading
            the work infringing Your copyright.
          </li>
          <li class="pl-1 mt-2">
            An undertaking that You shall file an infringement suit in the
            competent court against the person responsible for uploading the
            infringing copy and produce the orders of the competent court having
            jurisdiction, within a period of twenty-one days from the receipt of
            the take down notice by the Company.
          </li>
          <li class="pl-1 mt-2">
            A statement by You, made under penalty of perjury, that the
            information You are providing is accurate and that You are the
            copyright owner or authorized to act on behalf of the copyright
            owner. If You do not follow these requirements, Your notice may not
            be considered valid.
          </li>
          <li class="pl-1 mt-2">
            Termination Policy: If We determine that You are a repeat infringer,
            We may terminate Your access to the Platform, remove or ban You
            and/or terminate any Account created or controlled by You, and take
            other appropriate action in Our sole discretion.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">10. Privacy</h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          Your privacy is important to us. Our Privacy Policy explains how We
          collect, use, handle and share personal information and other data.
          Please refer to Our Privacy Policy available at <a
            class="text-blue-600"
            href="https://vetic.in/privacy-policy"
            target="_blank">https://vetic.in/privacy-policy</a
          >.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">11. Communications</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <p class="font-secondaryFont">
            You hereby expressly agree to receive communications by way of SMS,
            WhatsApp and/or e-mails from the Company relating to the Services
            provided through the Platform. You can unsubscribe/ opt-out from
            receiving communications from the Company SMS and e-mail anytime by
            visiting the Platform. In which case, the Company will only send You
            communications solely required for the purposes of the Services
            provided through the Platform.
          </p>
          <p class="list-disc list-outside text-gray-700 mt-2 font-secondaryFont">
            By using the Website and/or registering yourself at Vetic.in you
            authorize us to contact you via email or phone call or SMS or
            WhatsApp and offer you our services, imparting product knowledge,
            offer promotional offers running on the website & offers offered by
            the associated third parties, for which reasons, personally
            identifiable information may be collected. And irrespective of the
            fact that you have also registered yourself under DND or DNC or NCPR
            service, you still authorize us to give you a call from Vetic for
            the above-mentioned purposes.
          </p>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          12. License to Use the Service and Platform
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            Subject to compliance with the Terms, the Company hereby grants You
            a personal, royalty-free, limited, non-assignable and non-exclusive
            license to use the Service and the Platform. This license is for the
            sole purpose of enabling You to use and enjoy the benefit of the
            Service for Your personal and non-commercial use, in the manner
            permitted by these Terms. You agree not to use the Service for any
            public performances.
          </li>
          <li class="pl-1 mt-2">
            You may access the Service only in geographic locations within
            India.
          </li>
          <li class="pl-1 mt-2">
            You agree to use the Service only: (a) for purposes that are
            permitted by the Terms; and (b) in accordance with applicable law,
            regulation or generally accepted practices or guidelines. You agree
            not to engage in activities that may adversely affect the use or
            access of the Service by other Users.
          </li>
          <li class="pl-1 mt-2">
            You agree to use the Service only: (a) for purposes that are
            permitted by the Terms; and (b) in accordance with applicable law,
            regulation or generally accepted practices or guidelines. You agree
            not to engage in activities that may adversely affect the use or
            access of the Service by other Users.
          </li>
          <li class="pl-1 mt-2">
            You agree to use the Service only: (a) for purposes that are
            permitted by the Terms; and (b) in accordance with applicable law,
            regulation or generally accepted practices or guidelines. You agree
            not to engage in activities that may adversely affect the use or
            access of the Service by other Users.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          13. Links to Third Party Websites
        </h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          The Platform may contain links to social media platforms or third -
          party websites. You acknowledge and agree that the link does not mean
          that the Company endorses or is affiliated with such third platform or
          website. You further agree and acknowledge that the Company is not
          responsible or liable for (a) the availability or accuracy of such
          third - party platform or website; (b) the content, products, or
          services on or available from such websites or resources; or (c) for
          any damages, losses, costs, expenses, or liabilities related to Your
          use of the platform or website. You should always read the terms and
          conditions and privacy policy of a platform or website before using
          it. You acknowledge sole responsibility for and assume all risk
          arising from Your use of any such websites or resources.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">14. Changes to the Platform</h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          You acknowledge and agree that the Company may change or discontinue
          any aspect of the Platform at any time, without giving any notice to
          You.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          15. Termination and Reservation of Rights
        </h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          You may cancel Your Account at any time by writing to the Company at
          support@vetic.in. The Company reserves the right to terminate Your
          Account or block Your access to the Platform, at any time, for any
          reason, in its sole discretion. If You violate any of these Terms,
          Your permission to use the Platform automatically terminates.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">16. Indemnification</h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          You agree to indemnify, defend, and hold harmless the Company and its
          parent company, subsidiaries, affiliates, and their officers,
          employees, directors, shareholders, agents, partners, vendors, and
          licensors (each, a “Company Party,” and collectively, “Company
          Parties”) from and against any and all claims, costs, proceedings,
          demands, losses, damages, and expenses (including reasonable
          attorneys’ fees and costs) of any kind or nature arising from, out of,
          in connection with, or relating to: (a) any breach or non-performance
          of any representation, warranty, covenant or agreement made or
          obligation to be performed by You pursuant to these Terms, or Privacy
          Policy; or (b) use of the Platform. The Company may select counsel for
          and control the defense of any claim that You are indemnifying.
          Further, You agree to hold the Company Parties harmless against any
          claims made by any third party due to, or arising out of, or in
          connection with, Your use of the Platform, any misrepresentation with
          respect to the data or information provided by You, Your violation of
          the Terms, or Your violation of any rights of another, including any
          intellectual property rights.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          17. Disclaimers and Limitations on Our Liability
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            You acknowledge and agree that Your use of the Platform is at Your
            own risk and that the Platform is provided on an “as is” and “as
            available” basis. To the extent permitted by applicable law, the
            Company disclaim all warranties, conditions, and representations of
            any kind, whether express, implied, statutory, or otherwise,
            including those related to merchantability, fitness for a particular
            purpose, non-infringement, and arising out of or in the course of
            dealing with or usage of the Platform.
          </li>
          <li class="pl-1 mt-2">
            In particular, the Company make no representations or warranties
            about the accuracy or completeness of content available on or
            through the Platform, third party website linked to or integrated
            with the Platform, the Services or the Products. The Company does
            not warrant or endorse the effectiveness, quality or safety of the
            Products or Services available on the Platform. The Company disclaim
            all responsibility for any harm to the patients resulting from any
            Product/ Services available on the Platform.
          </li>
          <li class="pl-1 mt-2">
            You acknowledge and agree that the Company will have no liability
            for any: (i) errors, mistakes, or inaccuracies of Content; (ii)
            personal injury, property damage, or other harm resulting from Your
            access to or use of the Platform; (iii) any unauthorized access to
            or use of Our servers, any personal information, or User data; (iv)
            any interruption of transmission to or from the Platform; (v) any
            bugs, viruses, trojan horses, or the like that may be transmitted on
            or through the Platform; or (vi) any damages, losses, costs,
            expenses, or liabilities of any kind incurred as a result of any
            content posted or shared through the Platform.
          </li>
          <li class="pl-1 mt-2">
            You acknowledge and agree that when using the Platform, You will be
            exposed to content from a variety of sources, and that the Company
            is not responsible for the accuracy, usefulness, safety, legality,
            or intellectual property rights of or relating to any such content.
            You further understand and acknowledge that You may be exposed to
            content that is inaccurate, offensive, indecent, objectionable, or
            harassing, and You agree to waive, and hereby do waive, any legal or
            equitable rights or remedies You have or may have against any
            Company Party with respect thereto.
          </li>
          <li class="pl-1 mt-2">
            The Company shall not be responsible for the delay or inability to
            use Platform or related functionalities, the provision of or failure
            to provide functionalities, or for any information, software,
            functionalities, and related graphics obtained through the Platform,
            or otherwise arising out of the use of the Platform or Service,
            whether based on contract, tort, negligence, strict liability or
            otherwise. Further, the Company shall not be held responsible for
            non-availability of the Service during periodic maintenance
            operations or any unplanned suspension of access to Service that may
            occur due to technical reasons or for any reason beyond the
            Company’s control.
          </li>
          <li class="pl-1 mt-2">
            The Company ensures that the pricing and availability of Products
            and Services on the Platform is accurate and up to date. However,
            rarely, there may be an error on the pricing of a Product/Service or
            an error related to Product availability. In such cases, We are not
            responsible for any typographical errors and We reserve the right to
            cancel the sale.
          </li>
          <li class="pl-1 mt-2">
            To the fullest extent permitted by applicable law, You acknowledge
            and agree that in no event will any Company Party be liable to You
            or to any third party for any indirect, special, incidental,
            punitive, or consequential damages (including for loss of profits,
            revenue, or data) or for the cost of obtaining substitute products,
            arising out of or in connection with these Terms, however caused,
            whether such liability arises from any claim based upon contract,
            warranty, tort (including negligence), strict liability, or
            otherwise, and whether or not the Company has been advised of the
            possibility of such damages.
          </li>
          <li class="pl-1 mt-2">
            To the maximum extent permitted by applicable law, the Company’s
            total cumulative liability to You or any third party under these
            Terms, including from all causes of action and all theories of
            liability, will be limited to and will not exceed the amount paid by
            You at the time of purchase of goods or purchase of Services on the
            Platform during, immediately preceding the date of the claim.
          </li>
          <li class="pl-1 mt-2">
            You agree that the limitations of damages set forth above are
            fundamental elements of the basis of the bargain between the Company
            and You.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">18. Violation of the Terms</h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          You agree that any violation by You of these Terms will constitute an
          unlawful and unfair business practice, and will cause irreparable harm
          to the Company, for which monetary damages would be inadequate, and
          You consent to the Company obtaining any injunctive or equitable
          relief that they deem necessary or appropriate in such circumstances.
          These remedies are in addition to any other remedies that the Company
          may have at law or in equity. If the Company takes any legal action
          against You as a result of Your violation of these Terms, they will be
          entitled to recover from You, and You agree to pay, all reasonable
          attorneys’ fees and costs of such action, in addition to any other
          relief that may be granted.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">
          19. Suspension and Termination
        </h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            The Terms will continue to apply until terminated by either You or
            the Company as set forth below. If You object to the Terms or are
            dissatisfied with the Platform, Your only recourse is to (i) close
            Your Account on the Platform; and/or (ii) stop accessing the
            Platform.
          </li>
          <li class="pl-1 mt-2">
            The Company may delist You or block Your future access to the
            Platform or suspend or terminate Your Account if it believes, in its
            sole and absolute discretion that You have infringed, breached,
            violated, abused, or unethically manipulated or exploited any term
            of these Terms or anyway otherwise acted unethically.
            Notwithstanding anything in this clause, these Terms will survive
            indefinitely unless and until the Company chooses to terminate them.
          </li>
          <li class="pl-1 mt-2">
            If You or the Company terminate Your use of the Platform, the
            Company may delete any Content or other materials relating to You
            and the Company shall have no liability to You or any third party
            for doing so. However, Your transaction details may be preserved by
            the Company for purposes of tax or regulatory compliance.
          </li>
          <li class="pl-1 mt-2">
            You shall be liable to pay any fees or charges as may be applicable
            in respect of the Services until the date of termination by either
            party whatsoever.
          </li>
          <li class="pl-1 mt-2">
            The Company shall have the right to cease/terminate the relationship
            by giving You a prior twenty-four (24) hours’ written notice.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">20. Other Provisions</h2>
        <ul class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          <li class="pl-1 mt-2">
            <strong>Force Majeure :</strong> Under no circumstances will the Company
            be liable for any delay or failure in performance due in whole or in
            part to any acts of God (such as earthquakes, storms, floods, etc.),
            unavoidable accidents, laws, rules, regulations or orders of government
            authorities, acts of war (declared or not), terrorism, hostilities, blockades,
            civil disturbances, embargoes, strikes, any natural disasters such as
            any epidemic or pandemic, or any other event or cause beyond the reasonable
            control of any Party.
          </li>
          <li class="pl-1 mt-2">
            <strong>Choice of Law and Jurisdiction :</strong> These Terms will be
            governed by and construed in accordance with the laws of India, without
            giving effect to any conflict of laws rules or provisions. Any disputes
            arising in relation hereto between You and the Company shall be subject
            to the exclusive jurisdiction of courts at Gurgaon, Haryana, India.
          </li>
          <li class="pl-1 mt-2">
            <strong>Severability :</strong> If any provision of these Terms is found
            to be invalid or unenforceable, that provision will be deemed appropriately
            modified to give effect to the intent of the provision or, if modification
            is not possible, will be severed from these Terms and will not affect
            the enforceability of any other provision.
          </li>
          <li class="pl-1 mt-2">
            <strong>Waiver :</strong> The failure by the Company to enforce any right
            or provision of these Terms will not prevent Company from enforcing such
            right or provision in the future and will not be deemed to modify these
            Terms.
          </li>
          <li class="pl-1 mt-2">
            <strong>Assignment :</strong>The Company may, at any time, assign
            its rights and obligations under these Terms, to any third party.
          </li>
          <li class="pl-1 mt-2">
            <strong>Entire Agreement :</strong> These Terms and the Platform Policies
            are the entire and exclusive agreement between the Company and You regarding
            the Services, and these Terms supersede and replace any prior agreements
            between the Company and You regarding the Services.
          </li>
          <li class="pl-1 mt-2">
            <strong>Miscellaneous :</strong> The term “including” in these Terms
            will be interpreted broadly and will mean “including, without limitation.”
            Titles are for convenience only and will not be considered when interpreting
            these Terms.
          </li>
        </ul>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">21. Changes to these Terms</h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          The Company may revise or modify or amend these Terms at any time. If
          We do, We will post the revised Terms on the Platform and update the
          “Last Updated” date at the top of these Terms. It shall be Your
          responsibility to check these Terms periodically for changes. Your
          continued usage of the platform after any changes are posted shall
          signify Your consent to such changes and agreement to be legally bound
          by the same.
        </p>

        <h2 class="text-lg font-semibold mt-6 font-primaryFont">22. Grievance Redressal</h2>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          Any complaints arising from the access or usage of the Platform may be
          addressed to the following grievance officer:
        </p>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          Name of the Grievance Officer: Raju Bhuyan (“Grievance Redressal
          Officer”)
        </p>
        <p class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont">
          Contact information: <a
            href="raju.bhuyan@vetic.in"
            class="text-blue-600"
            target="_blank">raju.bhuyan@vetic.in</a
          >
        </p>
      </div>
    </div>
  </div>

  <Footer />
</MainLayout>
