---
import Footer from "@components/core/footer/Footer.astro";
import MainLayout from "@layouts/_main_layout.astro";
import Header from "@components/core/navbar/Header.astro";
---

<MainLayout
  title="Vetic - Terms and Conditions"
  description="Vetic - Terms and Conditions"
  canonicalTag="https://vetic.in/tnc"
>
  <div class="container mx-auto w-11/12">
    <Header />
    <div class="p-6">
      <h1
        class="text-2xl font-bold text-center font-primaryFont text-primaryFontColor"
      >
        VETIC MEMBERSHIP TERMS & CONDITIONS
      </h1>

      <div class="mt-8">
        <ul
          class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont"
        >
          <li class="pl-1 mt-2">
            The Vetic Membership is valid for 12 months from the date of
            purchase of the membership package.
          </li>
          <li class="pl-1 mt-2">
            One pet per client is allowed under the Vetic Membership policy. If
            a client registers multiple pets with Vetic under a single
            membership, the membership benefits shall be consumed in accordance
            with the actual services rendered to each pet.
          </li>
          <li class="pl-1 mt-2">
            The Vetic Membership is non-transferrable . The Vetic Membership is
            only valid for the client's registered contact number and cannot be
            transferred to another contact number or to other clients.
          </li>
          <li class="pl-1 mt-2">
            The Vetic Membership is non-refundable and non-cancellable . Any
            refund for any services is subject to Vetic's sole discretion and is
            limited to an amount equal to the price of each individual product
            and service provided as part of membership. Cancellation Processing
            fee will be applicable in such cases.
          </li>
          <li class="pl-1 mt-2">
            The client shall be informed of all the Vetic Membership perks and
            exclusions via the invoice at the time of purchase. Any additional
            Vetic services and products that are not listed on the invoice do
            not qualify as part of the membership's offering.
          </li>
          <li class="pl-1 mt-2">
            Services, discounts, and other perks provided as part of the Vetic
            Membership may be changed or discontinued at any time at Vetic's
            sole discretion.
          </li>
          <li class="pl-1 mt-2">
            Vetic Membership users can avail the benefits of membership across
            the Vetic Clinics. The client is responsible for paying any
            additional fees resulting from price differences between clinics.
          </li>
          <li class="pl-1 mt-2">
            In case of free services provided under Vetic Membership exhausted
            during the period of membership, clients can continue availing the
            other benefits of the membership till the validity of the Membership
            is over.
          </li>
          <li class="pl-1 mt-2">
            Vetic Membership users have the option to renew their memberships at
            any time. In this situation, the client's current membership will no
            longer be valid and a new one will take effect.
          </li>
        </ul>
      </div>
    </div>

    <div class="p-6">
      <h2
        class="text-2xl font-bold text-center font-primaryFont text-primaryFontColor"
      >
        Vetic Pet Health Shield powered by HDFC Ergo Paws n Claws Terms and
        Conditions
      </h2>

      <div class="mt-8">
        <ul
          class="list-disc list-outside pl-5 text-gray-700 mt-2 font-secondaryFont"
        >
          <li class="pl-1 mt-2">
            There is no tax benefit associated with the Vetic Pet Health Shield.
          </li>
          <li class="pl-1 mt-2">
            Pregnancy-related surgeries are not covered under the Vetic Pet
            Health Shield.
          </li>
          <li class="pl-1 mt-2">
            No Claim Bonus (NCB) is not applicable under the Vetic Pet Health
            Shield.
          </li>
          <li class="pl-1 mt-2">
            Payment for the treatment must be made upfront by the policyholder,
            and the claim will be settled via reimbursement process after
            submission and verification of all required and valid documents.
          </li>
          <li class="pl-1 mt-2">
            Once Vetic Pet Health Shield is issued, cancellation charges will
            apply.
          </li>
          <li class="pl-1 mt-2">
            Claim settlement may take up to 45 working days, subject to
            receiving all necessary and valid documents and clearance from HDFC
            Ergo.
          </li>
          <li class="pl-1 mt-2">
            The purchase cost of prescription food is not covered under Vetic
            Pet Health Shield.
          </li>
          <li class="pl-1 mt-2">
            Pre-existing illnesses or health conditions are not covered under
            the Vetic Pet Health Shield.
          </li>
          <li class="pl-1 mt-2">
            Elective surgeries such as neutering, spaying, dental scaling, and
            surgeries related to congenital issues are not covered under the
            Vetic Pet Health Shield.
          </li>
          <p class="text-gray-700 mt-2 pl-1">
            * Vetic Pet Health Shield powered by HDFC Ergo Paws n Claws is also
            referred to as Vetic Pet Health Shield interchangeably.
          </p>
          <li class="pl-1 mt-2">
            <span class="font-semibold">Claim Intimation Timelines : </span>To
            ensure smooth processing, please inform us about any claims within
            15 days from the start date of treatment to <a
              href="tel:919821338300"
              class="text-blue-600">+919821338300</a
            > or <span class="text-blue-600">shield@vetic.in. </span>Timely
            reporting helps us serve you better!
          </li>
          <p class="text-gray-700 mt-2 pl-1">
            Note: Please refer to the policy brochure for details on the major
            illness included in our list of 43 specified illnesses.
          </p>
        </ul>
      </div>
    </div>
  </div>

  <Footer />
</MainLayout>
