---
import { Image } from "astro:assets";
import BookNowButton from "@components/ui/BookNowButton.astro";

const {
  content: { recoveryVideoSection },
  showVideo,
} = Astro.props;
// console.log(recoveryVideoSection);
---

<style>
  .vetic-services-bg {
    background-image: url("https://vetic-img.s3.ap-south-1.amazonaws.com/website/Website-Astro/Banner+Image/bgIconM.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }

  @media (min-width: 768px) {
    .vetic-services-bg {
      background-image: url("https://vetic-img.s3.ap-south-1.amazonaws.com/website/Website-Astro/Banner+Image/bgIconD.webp");
      background-position: top right;
    }
  }
</style>

{
  showVideo ? (
    <div class="bg-cover bg-center vetic-services-bg">
      <div class="container w-11/12 mx-auto py-10 sm:py-10">
        <h2 class="text-2xl sm:text-4xl text-gray-900 mb-2 font-primaryFont sm:text-center">
          {recoveryVideoSection?.heading ?? ""}
        </h2>
        <p class="text-md sm:text-[20px] text-gray-700 mb-6 font-secondaryFont text-center">
          {recoveryVideoSection?.subHeading}
        </p>

        <div class="relative overflow-hidden pb-[56%] sm:pb-[40%] h-0 rounded-3xl">
          <iframe
            class="absolute top-0 left-0 w-full h-full"
            loading="lazy"
            src={`https://www.youtube.com/embed/${recoveryVideoSection?.videoLink}?start=00&rel=0`}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          />
        </div>
      </div>
    </div>
  ) : (
    <div></div>
  )
}