---
import { Image } from "astro:assets";
import EmailSubmit from "./EmailSubmit.astro";
---

<footer
  class="bg-[url('https://vetic-img.s3.ap-south-1.amazonaws.com/website/Website-Astro/Footer/footerD.webp')] bg-cover bg-center"
>
  <!-- <h2 id="footer-heading" class="sr-only">Footer</h2> -->
  <div class="mx-auto px-6 pb-8 pt-16 lg:px-16">
    <div class="">
      <div class="sm:flex sm:items-center sm:justify-between sm:mb-6 ">
        <!-- left div  -->
        <div class="space-y-4 sm:mb-8">
          <Image
            width="120"
            height="100"
            src="https://vetic-img.s3.ap-south-1.amazonaws.com/website/Website-Astro/Footer/footerLogo.png"
            alt="vetic_footer_logo"
          />
          <p class="text-sm leading-6 text-white">
            4th floor, Spaze Business Park, Badshahpur, Sector 66, Gurugram,
            Haryana 122102
          </p>
          <div class="flex space-x-6">
            <a
              href="https://www.facebook.com/vetic.in/"
              target="_blank"
              class="text-white"
            >
              <span class="sr-only">Facebook</span>
              <svg
                class="h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
            <a
              href="https://www.instagram.com/vetic.in/"
              target="_blank"
              class="text-white"
            >
              <span class="sr-only">Instagram</span>
              <svg
                class="h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
            <!-- <a
              href="https://mobile.x.com/vetic_in"
              target="_blank"
              class="text-white"
            >
              <span class="sr-only">X</span>
              <svg
                class="h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z"
                ></path>
              </svg>
            </a> -->
            <a
              href="https://in.linkedin.com/company/veticin"
              target="_blank"
              class="text-white"
            >
              <span class="sr-only">Linked In</span>
              <svg
                width="23"
                height="23"
                viewBox="0 0 34 34"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_4597_2607)">
                  <path
                    d="M29.3636 0H4.63636C2.07577 0 0 2.07577 0 4.63636V29.3636C0 31.9242 2.07577 34 4.63636 34H29.3636C31.9242 34 34 31.9242 34 29.3636V4.63636C34 2.07577 31.9242 0 29.3636 0Z"
                    fill="white"></path>
                  <path
                    d="M12.2478 9.27273C12.2478 9.84584 12.0779 10.4061 11.7595 10.8826C11.4411 11.3591 10.9885 11.7306 10.459 11.9499C9.92954 12.1692 9.34691 12.2266 8.7848 12.1148C8.2227 12.003 7.70637 11.727 7.30112 11.3217C6.89586 10.9165 6.61988 10.4001 6.50807 9.83805C6.39626 9.27594 6.45365 8.69331 6.67297 8.16382C6.89229 7.63432 7.2637 7.18176 7.74023 6.86335C8.21676 6.54495 8.77701 6.375 9.35012 6.375C10.1186 6.375 10.8557 6.6803 11.3991 7.22372C11.9426 7.76715 12.2478 8.5042 12.2478 9.27273Z"
                    fill="#F05B72"></path>
                  <path
                    d="M11.5911 14.1023V26.9044C11.5916 26.9989 11.5735 27.0925 11.5377 27.1799C11.5019 27.2673 11.4492 27.3468 11.3826 27.4137C11.316 27.4807 11.2368 27.5338 11.1496 27.5701C11.0624 27.6063 10.9689 27.625 10.8744 27.625H7.8202C7.72576 27.6253 7.63219 27.6068 7.54489 27.5708C7.45759 27.5348 7.37826 27.4819 7.31148 27.4151C7.2447 27.3483 7.19177 27.269 7.15575 27.1817C7.11972 27.0944 7.10131 27.0008 7.10157 26.9064V14.1023C7.10157 13.9117 7.17728 13.7289 7.31205 13.5941C7.44682 13.4593 7.62961 13.3836 7.8202 13.3836H10.8744C11.0647 13.3841 11.247 13.4601 11.3813 13.5948C11.5157 13.7295 11.5911 13.912 11.5911 14.1023Z"
                    fill="#F05B72"></path>
                  <path
                    d="M27.5555 20.7671V26.9643C27.5557 27.0512 27.5388 27.1372 27.5057 27.2175C27.4726 27.2977 27.4239 27.3707 27.3625 27.4321C27.3011 27.4935 27.2282 27.5421 27.1479 27.5752C27.0676 27.6083 26.9816 27.6253 26.8948 27.625H23.6107C23.5239 27.6253 23.4378 27.6083 23.3576 27.5752C23.2773 27.5421 23.2043 27.4935 23.1429 27.4321C23.0815 27.3707 23.0329 27.2977 22.9998 27.2175C22.9667 27.1372 22.9498 27.0512 22.95 26.9643V20.9583C22.95 20.0619 23.2127 17.0328 20.6067 17.0328C18.588 17.0328 18.1765 19.1057 18.0953 20.0368V26.9643C18.0954 27.1379 18.0271 27.3045 17.9053 27.4281C17.7834 27.5517 17.6179 27.6225 17.4443 27.625H14.2723C14.1856 27.625 14.0998 27.6079 14.0197 27.5747C13.9397 27.5415 13.867 27.4928 13.8058 27.4314C13.7446 27.37 13.6961 27.2972 13.6631 27.217C13.6301 27.1369 13.6133 27.051 13.6135 26.9643V14.0463C13.6133 13.9596 13.6301 13.8737 13.6631 13.7936C13.6961 13.7134 13.7446 13.6406 13.8058 13.5792C13.867 13.5178 13.9397 13.4691 14.0197 13.4359C14.0998 13.4027 14.1856 13.3856 14.2723 13.3856H17.4443C17.6195 13.3856 17.7876 13.4552 17.9115 13.5791C18.0354 13.703 18.105 13.871 18.105 14.0463V15.1628C18.8546 14.0385 19.9653 13.1711 22.3357 13.1711C27.5864 13.1711 27.5555 18.0741 27.5555 20.7671Z"
                    fill="#F05B72"></path>
                </g>
                <defs>
                  <clipPath id="clip0_4597_2607">
                    <rect width="34" height="34" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
            <a
              href="https://www.youtube.com/@veticpetcare"
              target="_blank"
              class="text-white"
            >
              <span class="sr-only">YouTube</span>
              <svg
                class="h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
        <!-- Right Div with email  -->
        <EmailSubmit />
      </div>

      <!-- All Content  -->
      <div
        class="mt-6 sm:-16 grid grid-cols-2 sm:grid-cols-3 gap-8 xl:col-span-2 xl:mt-0"
      >
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-base font-semibold leading-6 text-white">
              Company
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="/about-us" class="text-sm leading-6 text-white"
                  >About Us</a
                >
              </li>
              <li>
                <a href="tel:8929043121" class="text-sm leading-6 text-white"
                  >Contact Us</a
                >
              </li>
              <li>
                <a href="/terms-of-service" class="text-sm leading-6 text-white"
                  >Terms & Conditions</a
                >
              </li>
              <li>
                <a href="/privacy-policy" class="text-sm leading-6 text-white"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-base font-semibold leading-6 text-white">
              We Are In
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="/pet-clinic-gurgaon"
                  class="text-sm leading-6 text-white hover:text-white"
                  >Gurgaon</a
                >
              </li>
              <li>
                <a
                  href="/pet-clinic-delhi"
                  class="text-sm leading-6 text-white hover:text-white">Delhi</a
                >
              </li>
              <li>
                <a
                  href="/pet-clinic-noida"
                  class="text-sm leading-6 text-white hover:text-white">Noida</a
                >
              </li>
              <li>
                <a
                  href="/pet-clinic-ghaziabad"
                  class="text-sm leading-6 text-white hover:text-white"
                  >Ghaziabad</a
                >
              </li>
              <li>
                <a
                  href="/pet-clinic-faridabad"
                  class="text-sm leading-6 text-white hover:text-white"
                  >Faridabad</a
                >
              </li>
              <li>
                <a
                  href="/pet-clinic-mumbai"
                  class="text-sm leading-6 text-white hover:text-white"
                  >Mumbai</a
                >
              </li>

              <li>
                <a
                  href="/pet-clinic-bengaluru"
                  class="text-sm leading-6 text-white hover:text-white"
                  >Bengaluru</a
                >
              </li>
              <li>
                <a
                  href="/pet-clinic-hyderabad"
                  class="text-sm leading-6 text-white hover:text-white"
                  >Hyderabad</a
                >
              </li>
              <li>
                <a
                  href="/pet-clinic-pune"
                  class="text-sm leading-6 text-white hover:text-white">Pune</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-base font-semibold leading-6 text-white">
              Services for Dogs
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="/dog-consultation-near-me"
                  class="text-sm leading-6 text-white">Consultation for Dog</a
                >
              </li>
              <li>
                <a
                  href="/dog-grooming-near-me"
                  class="text-sm leading-6 text-white"
                >
                  Grooming for Dog</a
                >
              </li>
              <li>
                <a
                  href="/dog-vaccination-near-me"
                  class="text-sm leading-6 text-white"
                  >Vaccination for Dog
                </a>
              </li>
              <li>
                <a
                  href="/dog-surgeries-near-me"
                  class="text-sm leading-6 text-white"
                  >Surgery For Dog
                </a>
              </li>
              <li>
                <a
                  href="/dog-emergency-care-near-me"
                  class="text-sm leading-6 text-white"
                  >Emergency Care For Dog
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-base font-semibold leading-6 text-white">
              Services for Cats
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="/cat-consultation-near-me"
                  class="text-sm leading-6 text-white">Consultation for Cat</a
                >
              </li>
              <li>
                <a
                  href="/cat-grooming-near-me"
                  class="text-sm leading-6 text-white">Grooming for Cat</a
                >
              </li>
              <li>
                <a
                  href="/cat-vaccination-near-me"
                  class="text-sm leading-6 text-white">Vaccination for Cat</a
                >
              </li>
              <li>
                <a
                  href="/cat-surgeries-near-me"
                  class="text-sm leading-6 text-white">Surgery For Cat</a
                >
              </li>
              <li>
                <a
                  href="/cat-emergency-care-near-me"
                  class="text-sm leading-6 text-white">Emergency Care For Cat</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="md:grid md:grid-cols-1 md:gap-8">
          <div>
            <h3 class="text-base font-semibold leading-6 text-white">
              Popular Searches Near You
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li class="w-full">
                <a
                  href="/pet-hospital-near-me"
                  class="text-sm leading-6 text-white block w-full h-full"
                >
                  Veterinary Hospital Near Me
                </a>
              </li>
              <li class="w-full">
                <a
                  href="/pet-clinic-near-me"
                  class="text-sm leading-6 text-white block w-full h-full"
                >
                  Pet Clinic Near Me
                </a>
              </li>
              <li class="w-full">
                <a
                  href="/pet-hospital-near-me"
                  class="text-sm leading-6 text-white block w-full h-full"
                >
                  Pet Hospital Near Me
                </a>
              </li>
              <li class="w-full">
                <a
                  href="/pet-grooming-near-me"
                  class="text-sm leading-6 text-white block w-full h-full"
                >
                  Pet Grooming Clinic Near Me
                </a>
              </li>
              <li class="w-full">
                <a
                  href="/pet-cancer-treatment-near-me"
                  class="text-sm leading-6 text-white block w-full h-full"
                >
                Pet Cancer Treatment Near Me
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-1 border-t border-white/10 pt-4 sm:mt-10 lg:mt-12">
      <p class="text-xs leading-5 text-white">
        &copy;2024 Vetic.in All rights reserved.
      </p>
    </div>
  </div>
</footer>
