---
import { Image } from "astro:assets";
const data = [
  {
    text: "All petcare services under one roof",
  },
  {
    text: "Instant & seamless appointment bookings",
  },
  {
    text: "Access all your pets medical records",
  },
];
---

<div class="bg-white">
  <div class="relative isolate">
    <div
      class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-40"
    >
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <h1
          class="mt-8 max-w-lg text-2xl font-bold text-blue-950 sm:text-6xl tracking-normal mb-5"
        >
          Download the app to join India’s largest & most trusted petcare brand
        </h1>
        {
          data.map((value, id) => {
            return (
              <div class="flex items-center pt-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6 mr-6  text-green-600"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>

                <p class="text-sm text-gray-700">{value.text}</p>
              </div>
            );
          })
        }
        <div class="flex justify-start space-x-10">
          <a href="https://vetic.sng.link/Awgsc/rjr7/2cek">
            <div class="inline-block">
              <Image
                width="1"
                height="1"
                src="https://vetic-img.s3.ap-south-1.amazonaws.com/website/landing+page/play+Store.webp"
                alt="android-image-logo"
                class="w-48 h-48 object-contain cursor-pointer"
              />
            </div>
          </a>
          <a href="https://vetic.sng.link/Awgsc/rjr7/2cek">
            <div class="inline-block">
              <Image
                width="1"
                height="1"
                src="https://vetic-img.s3.ap-south-1.amazonaws.com/website/home_page/app Store.webp"
                alt="ios-image-logo"
                class="w-48 h-48 object-contain cursor-pointer"
              />
            </div>
          </a>
        </div>
      </div>
      <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
        <svg
          viewBox="0 0 366 729"
          role="img"
          class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl"
        >
          <title>App screenshot</title>
          <defs>
            <clipPath id="2ade4387-9c63-4fc4-b754-10e687a0d332">
              <rect width="316" height="684" rx="36"></rect>
            </clipPath>
          </defs>
          <path
            fill="#40444a"
            d="M363.315 64.213C363.315 22.99 341.312 1 300.092 1H66.751C25.53 1 3.528 22.99 3.528 64.213v44.68l-.857.143A2 2 0 0 0 1 111.009v24.611a2 2 0 0 0 1.671 1.973l.95.158a2.26 2.26 0 0 1-.093.236v26.173c.212.1.398.296.541.643l-1.398.233A2 2 0 0 0 1 167.009v47.611a2 2 0 0 0 1.671 1.973l1.368.228c-.139.319-.314.533-.511.653v16.637c.221.104.414.313.56.689l-1.417.236A2 2 0 0 0 1 237.009v47.611a2 2 0 0 0 1.671 1.973l1.347.225c-.135.294-.302.493-.49.607v377.681c0 41.213 22 63.208 63.223 63.208h95.074c.947-.504 2.717-.843 4.745-.843l.141.001h.194l.086-.001 33.704.005c1.849.043 3.442.37 4.323.838h95.074c41.222 0 63.223-21.999 63.223-63.212v-394.63c-.259-.275-.48-.796-.63-1.47l-.011-.133 1.655-.276A2 2 0 0 0 366 266.62v-77.611a2 2 0 0 0-1.671-1.973l-1.712-.285c.148-.839.396-1.491.698-1.811V64.213Z"
          ></path>
          <path
            fill="#292b2e"
            d="M16 59c0-23.748 19.252-43 43-43h246c23.748 0 43 19.252 43 43v615c0 23.196-18.804 42-42 42H58c-23.196 0-42-18.804-42-42V59Z"
          ></path>
          <foreignObject
            width="350"
            height="500"
            transform="translate(24 24)"
            clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)"
          >
            <Image
              width="1"
              height="1"
              class="w-full h-full object-fill"
              src="https://vetic-img.s3.ap-south-1.amazonaws.com/website/home_page/appBanner.webp"
              alt="mobile_banner_image"
            />
          </foreignObject>
        </svg>
      </div>
    </div>
  </div>
</div>
